.hidden {
  display: none;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #0366d6;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

input {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px;
  background-color: #197d9e;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #22863a;
}

#fetch-repo {
  background-color: black;
}
main {
  max-width: 80%;
  margin: 20px auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  color: #0c6fdf;
  text-decoration: none;
}

#profile-picture {
  width: 100px;
  border-radius: 50%;
}

#social-links {
  margin-top: 10px;
}

#repos-container {
  margin-top: 20px;
}

#pagination {
  display: flex;
  justify-content: center;
  width: 60rem;
}

#pagination button {
  background-color: white;
  color: #0c6fdf;
  width: 5rem;
  padding: 1rem;
  border: 0.1rem solid gray;
}

#pagination button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#pagination button.current-page {
  background-color: #0c6fdf;
  color: white;
}

.repo-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  width: 45%;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}

.repo-item h3 {
  margin-bottom: 5px;
}

.label {
  background-color: #0c6fdf;
  padding: 2px 5px;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 12px;
  display: inline-block;
}

.tech_stack {
  color: white;
  font-weight: bold;
}
.repo-item {
  width: 30rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.repos-per-page-container {
  display: contents;
}
.container > div {
  flex: 50%;
  box-shadow: 0 0 0 1px black;
  margin-bottom: 10px;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-links {
  margin-left: 2rem;
}

#username {
  font-style: italic;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#error-container {
  color: red;
}
